<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
<string>https://bj.bcebos.com/ibox-docpreview100/b5cbb5fc4a413a5c00685fc75cc40170?authorization=bce-auth-v1%2Ffbe74140929444858491fbf2b6bc0935%2F2019-12-02T06%3A15%3A47Z%2F1800%2F%2F19c762d19b9065bfd505adda3699e119b44d8989686363fb305bcb70f50881ea&responseContentDisposition=attachment%3Bfilename%3D%22BaiduLiteApp.ipa%22</string>
</dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.baidu.BaiduMobileInfoEnterpriseA</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>BaiduLiteApp</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
